.navbar-brand {
    padding-left: 1rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.nav-link {
    padding-left:2rem;
}

.display-1 {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.carousel {
    margin-top: 0;
    padding-bottom: 2rem;
}

.navbar {
    background: #382d72;
}

body {
    background: linear-gradient(45deg, #61447e, #a484c7);
    color: white;
}

.carousel-title, footer {
    background-color: #333159;
}


.grid {
    min-height: 40vh;
}

.carousel-image {
    max-height: 350px;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 90vw;
}

footer p, footer a {
    color:lightblue;
}

table {
    background: none;
}

th {
    color: white;
}

td, td a {
    color: white;
}

.btn {
    background-color: #333159;
    color:white;
}
.btn:hover, btn:focus {
    background-color: #61447e;
    color:white;
}

.display-1, h1, h2, h5 {
    font-family: 'Lilita One', cursive;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

img {
    max-width: 100%;
}

.article-img {
    max-width: 90%;
    justify-self: center;
}

h2 {
    font-size: 3rem;
}

.article {
    border-style: solid;
    border-radius: 2rem;
    border-color: white;
    height: 40vh;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.board-img {
    display: block;
    max-height: 40vh;
    margin-left: auto;
    margin-right: auto;
}

.board-name {
    font-family: 'Lilita One', cursive;
    font-size: 4rem;
    margin-bottom: 0rem;
}

.board-role {
    font-size: 1.5rem;
}

.board-bio {
    font-size: 1rem;
}