.navbar-brand {
    padding-left: 1rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.nav-link {
    padding-left:2rem;
}

.display-1 {
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.carousel {
    margin-top: 0;
    padding-bottom: 2rem;
}

.navbar {
    background: #382d72;
}

body {
    background: linear-gradient(45deg, #61447e, #a484c7);
    color: white;
}

.carousel-title, footer {
    background-color: #333159;
}


.grid {
    min-height: 40vh;
}

.carousel-image {
    max-height: 350px;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 90vw;
}

footer p, footer a {
    color:lightblue;
}

table {
    background: none;
}

th {
    color: white;
}

td {
    color: white;
}

.btn {
    background-color: #333159;
    color:white;
}
.btn:hover, btn:focus {
    background-color: #61447e;
    color:white;
}

.display-1, h1, h5 {
    font-family: 'Lilita One', cursive;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

img {
    max-width: 100vh;
}